@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .preload {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -ms-transition: none !important;
        -o-transition: none !important;
    }
}

@layer base {
    html {
        font-family: 'Merriweather', system-ui, sans-serif;
    }
    * {
        transition: background-color .2s ease-in;
    }
    h1, h2 {
        font-family: 'Montserrat', system-ui, sans-serif;
    }
}
